<div class="container" style="height: 90%">
  <div class="row h-100">
    <div class="col-6 d-flex align-items-center">
      <div class="w-100 justify-content-center" style="text-align: center">
        <%= image_tag 'main_logo', size: "300x300", class: "mb-2" %>
        <h1 class="text-center text-dark kiwi_kaku">　旅を、共有しよう。</h1>
      </div>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <div class="mb-3">
        <div class="border-bottom py-2 mb-4">
          <span class="h2 font-weight-bold" style="color: #5c9291; letter-spacing: 0.12em;">コンセプト</span>
        </div>
        <div>
          <p style="line-height: 2">走る。</p>
          <p style="line-height: 2">止まる。</p>
          <p style="line-height: 2">眺める。</p>
          <p style="line-height: 2">旅の記録を共有するサイト。</p>
        </div>
      </div>
      <div>
        <div class="border-bottom py-2 mb-4">
          <span class="h2 font-weight-bold" style="color: #5c9291; letter-spacing: 0.12em;">リンク</span>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <%= link_to "共有マップを見る", maps_path, class: "btn btn-outline-secondary mx-2", style: "width: 45%" %>
          <%= link_to "スポットを投稿する", new_spot_path, class: "btn btn-outline-secondary mx-2", style: "width: 45%" %>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <%= link_to "ユーザーを見る", users_path, class: "btn btn-outline-secondary mx-2", style: "width: 45%" %>
          <%= link_to "スポットを見る", posts_path, class: "btn btn-outline-secondary mx-2", style: "width: 45%" %>
        </div>
      </div>
    </div>
  </div>
</div>