<div class="container mt-5">
  <div class="w-50 mx-auto">
    <%= form_with model: @post, local: true do |f| %>
      <h3>編集フォーム</h3>
      <!-- ユーザ入力用テキストエリア -->
      <div class="form-group border-top pt-3">
        <%= f.label "写真" %>
        <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
      </div>
      <div class="form-group">
        <%= f.label 'タイトル' %>
        <%= f.text_field :title, class: "form-control", style: "width: 94%" %>
      </div>
      <div class="form-group">
        <%= f.label 'スポット情報' %>
        <%= f.text_area :info, rows: "3", class: "form-control", style: "width: 94%" %>
      </div>
      <div class="text-left">
        <%= f.submit "編集", class: "btn btn-outline-success mr-2", style: "width: 45%" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, class: "btn btn-outline-danger ml-2", style: "width: 45%", "data-confirm" => "本当に削除しますか？" %>
      </div>
    <% end %>
  </div>
</div>